## Misc ##
PORT=8080

# reset of view checker
MaxViews=10000 # max views before reset of checker
ViewResetRate=3600000 # milliseconds

PageSize=20 # default page size for anything with pagination
MaxPageSize=100 # max page size for anything with pagination

UploadingEnabled=true # self explanatory
ViewingEnabled=true # self explanatory

FeatureAmount=1 # amount of votes before feature
FollowAmount=50 # follows to get the follow badge
LoveAmount=1 # amount of likes before like badge

# feed stuff
FeedExpirationTime=86400000 # milliseconds
FeedSize=10 # size of feed before it starts cutting off old stuff

HardRejectExpirationTime=604800 # seconds


## Storage ##
MinioClientID=id
MinioClientSecret=secret


## OAuth ##

# scratch
ScratchOAuthClientID=abc
ScratchOAuthClientSecret=def

# github
GithubOAuthClientID=ghi
GithubOAuthClientSecret=jkl

# google
GoogleOAuthClientID=mno
GoogleOAuthClientSecret=pqr


## Webhooks ##

HeatWebhook=discord webhook
ReportWebhook=discord webhook
ModWebhook=discord webhook
AdminWebhook=discord webhook